{% extends 'base.html' %}
{% block content %}
<h1>새로운 일기를 작성하세요!!</h1>
<form action="{%url 'create_func' %}" method="post" enctype="multipart/form-data"> <!--액션삽입 post, enctype해야 사진이 넘어가요?-->
    {%csrf_token%} <!--방어 POST쓰면 해야됨-->
    {{form.as_p}} <!--p태그에 감싸서 보내-->
<!--<label for="title">제목</label>
    <input type = "text" id="title" name="title" >
    <br>
    <label for="date">작성 날짜</label>
    <input type = "date" id="date" name="date"  min="2024-01-01" max="2029-12-31">
    <br>
    <label for="writer">작성자</label>
    <input type = "text" id="writer" name="writer"  >
    <br>
    <label for="image">사진</label>
    <input type = "file" id="image" name="image"  >
    <br>
    <label for="body">본문</label>
    <br>
    <textarea rows="30" cols="100" id="body" name="body"></textarea>
    <br>
-->
    <input type="submit" value="저장">
</form>
<a href="{% url 'home' %}">홈으로</a>
{% endblock %}