{% extends 'base.html' %}
{% block content %}
<h1>공유 일기</h1>
<h2>일기 개수: {{count}}</h2>
<br>
<div>
<form>
    <select name="arrange" id="arrange"> <!--여기 정도를 views에 전달하고 변경!!-->
        <option value="new">최신순</option>
        <option value="old">오래된순</option>
    </select>
</form>
<div></div>
<br>
{% for diary in diarys%}
    <br>
    <div>
        작성자: {{diary.writer}}
        <br>
        제목: {{diary.title}}
        <br>
        작성 날짜: {{diary.pub_update}}
        <br>
        <a href="{% url 'detail' diary.id %}">상세보기</a>  <!-- 아이디도 같이 보내-->
    </div>
    <br>
{% endfor %}
<a href="{%url 'create' %} ">일기 작성하기</a>

{% endblock %}
<script>
    document.getElementById('arrange').addEventListener('change',
    function(){
        var selectedValue = this.value;
        console.log(selectedValue)
    });
</script>