<div style="text-align: center;">
    <h1>새로운 일기를 작성하세요!!</h1>
    <form action="{%url 'update_func' diary_update.id %}" method="post" > <!--액션삽입 post?-->
        {%csrf_token%} <!--방어 POST쓰면 해야됨-->
        <label for="title">제목</label>
        <input type = "text" id="title" name="title" value="{{diary_update.title}}">
        <br>
        <label for="date"><b>날짜입력 꼭 해주세요 아니면 에러 떠요</b>작성 날짜</label>
        <input type = "date" id="date" name="date"  min="2024-01-01" max="2029-12-31" value="{{diary_update.pub_update}}">
        <br>
        <label for="writer">작성자</label>
        <input type = "text" id="writer" name="writer" value="{{diary_update.writer}}"  >
        <br>
        <label for="body">본문</label>
        <br>
        <textarea rows="30" cols="100" id="body" name="body">{{diary_update.body}}</textarea>
        <br>
        <input type="submit" value="수정하기">
    </form>
    <a href="{% url 'home' %}">홈으로</a>
</div>